*{
    margin: 0;
    padding: 0;
    outline: 0;
}

div.container-root{
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
    position: absolute;
    width: 512px;
}

.containerGame{
    display: none;
}

canvas{
    border: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
    font: bold 15pt Arial;
}
@media screen and (max-width: 900px){
    .buttonsContainer{
        margin-top: 150px;
        display: grid;
        justify-content: center;
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 90px 90px;
        grid-gap: -5px;
    }
    
    .button{
        width: 100px;
        height: 100px;
        background-color: crimson;
        border-radius: 20px;
    }
    
    #button1{
        grid-column: 2/2;
    }
    
    #button2{
        grid-column: 1/1;
    }
    
    #button3{
        grid-column: 3/3;
    }
    
    #button4{
        grid-column: 2/2;
        grid-row: 2/2;
    }
}

.containerBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerBody button{
    margin-top: 10px;
    width: 100px;
}

.containerBody table {
    margin-top: 30px;
}

div.gameOver{
    font: normal 15pt Arial;
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
    padding: 20px;
    background: white;
    left: 30%;
    display: none;
}